.MutlipleSelector {
    display: flex;
    align-items: center; /* Vertically center the content */
    width: 100%;
    height: 36px;
    padding: 12px 6px 12px 6px !important; /* Add 'px' to padding values */
}


.dropdown {
    position: relative;
    display: inline-block;
    width: 100% !important;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: -14px; /* Adjust as needed */
    background-color: #f1f1f1;
    min-width: 100%;
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content label {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.selected-items {
      width:100px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

.selected-items div {
    margin-bottom: 5px;
}